.main-header-wrapper
  = search_form_for @search, url: gears_search_path, class: 'container-fluid shadow' do |f|
    .main-header.row.mx-2.py-3.align-self-center
      =link_to root_path, class: 'main-header__logo h4 col-lg-2 col-md-3 col-sm-4 col-6 text-left align-self-center mb-0' do
        MyNewGear

      -if user_signed_in?
        =link_to destroy_user_session_path, method: :delete, class:'btn btn border border-light rounded text-white btn-sm align-self-center float-right resp-size' do
          ログアウト

        =link_to '#', class:'text-light resp-size ml-2 align-self-center d-inline-flex ml-md-4 ml-4' do
          %i.fa.fa-user.h3.mb-0
          .align-self-center.d-none.d-sm-inline-block.ml-2
            マイページ


      -else
        =link_to new_user_registration_path, class: 'btn btn border border-light rounded text-white btn-sm align-self-center float-right resp-size' do
          新規登録
        =link_to  new_user_session_path, class: 'btn btn border border-light rounded text-white btn-sm align-self-center float-right resp-size ml-md-3 ml-1' do
          ログイン
      
      .main-header__search.col-lg-7.align-self-center.mt-2.mt-lg-0.ml-lg-3
        =  f.search_field :gearname_or_maker_or_category_cont, class: 'form-control', placeholder: 'キーワードを入力' 
      