.main-header-wrapper
  =form_with model: @user, url: '#',id: 'new_user', class: "container-fluid shadow",local: true  do |f|
    .main-header.row.mx-2.py-4
      =link_to root_path, class: 'main-header__logo h4 col-lg-2 col-md-2 col-sm-4 col-5' do
        MyNewGears
      
      .main-header__btn.col-lg-2.col-md-2.col-sm-8.col-7.d-inline-flex.mb-2
        .main-header__btn__signup.mr-1
          =link_to new_user_registration_path, class: 'btn btn border border-light rounded text-white' do
            新規登録
        .main-header__btn__signin.ml-2
          =link_to new_user_registration_path, class: 'btn btn border border-light rounded text-white' do
            ログイン

      
      .main-header__search.col-lg-8.col-md-8.col-sm-12.col-12
        = f.text_field nil, class: 'form-control', placeholder: 'キーワードを入力' 
      