.main-header-wrapper{
    background-color: $site-main-color;
}

.main-header{
    &__logo{
        color: $text-main-color;
    }
}

.text-design{
    color: #fd7e14;
}

.text-durability{
    color: #6f42c1;
}

.contents__label{
    font-size: 0.7rem;
}

canvas{
    height: 170px;
    width: 170px;
}

.heart-red{
    color: #e83e8c;
}

.resp-size{

    @media (min-width: 200px) {
        font-size: 0.7rem;
      }
    
      @media (min-width: 370px) {
        font-size: 0.9rem;
      }
}