.main-header-wrapper{
    background-color: $site-main-color;
}

.main-header{
    &__logo{
        color: $text-main-color;
    }
}

.text-design{
    color: #fd7e14;
}

.text-durability{
    color: #6f42c1;
}

.contents__label{
    font-size: 0.7rem;
}

canvas{
    height: 170px;
    width: 170px;
}


.resp-size{
    @media (min-width: 200px) {
        font-size: 0.7rem;
      }
    
      @media (min-width: 370px) {
        font-size: 0.9rem;
      }
}

.resp-maker-name{
    @media (min-width: 200px) {
        font-size: 0.8rem;
      }
    
      @media (min-width: 360px) {
        font-size: 1.0rem;
      }
}

.detail__count{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.index-contents{
    &:after{
        content:"";
        display:block;
        width: 60%;
        height:0;
      }
}

.search-contents{
    &:after{
        content:"";
        display:block;
        width: 60%;
        height:0;
      }
}

#gear-search-result{
    z-index: 10;
    cursor : pointer;
}