.main-header-wrapper{
    background-color: $site-main-color;
}

.main-header{
    &__logo{
        color: $text-main-color;
    }
}

.text-design{
    color: #fd7e14;
}

.text-durability{
    color: #6f42c1;
}

canvas{
    width: 170px;
    height: 170px;
}