.gears-new-contents{
    &__box{
        background-color: $text-main-color;
        height: 100rem;
        &__image-container{
            width: 100%;
            text-align: center;
            &__icon{
                font-size: 6rem;
                height: 12rem;
                width: 12rem;
                color: #dcdcdc;
            }
        }
    }
}


#file_photo{
    display: none;
    text-align: center;
}