.main-header-wrapper
  =form_with model: @user, url: user_registration_path,id: 'new_user', class: "container-fluid",local: true  do |f|
    .main-header.row
      =link_to root_path, class: 'main-header__logo h4 title ml-3 mt-4' do
        MyNewGears

      .main-header__signup.mt-4.ml-5
        =link_to new_user_registration_path, class: 'btn btn-sm border border-light rounded text-white' do
          新規登録
      .main-header__signin.mt-4.ml-4
        =link_to new_user_registration_path, class: 'btn btn-sm border border-light rounded text-white'do
          ログイン
      
      .main-header__search.my-4.col-md-8
        = f.text_field nil, class: 'form-control', placeholder: 'キーワードを入力'
      


      

      




- if user_signed_in?
  = link_to new_user_session_path do
    ログイン
  
  = link_to  destroy_user_session_path, method: :delete do
    ログアウト

- else
  = link_to new_user_registration_path do
    新規登録
