.body{
    background-color: $main-background;
}


.header__logo{
    display: inline-block;
    color: $site-main-color;
}

.signup-right-content{
    border-left: 1px solid #eee;
    overflow: hidden;
}

.btn-twitter-inverse {
    color: #fff;
    background-color: #55acee;
    border-color: #2795e9;
}

.btn-instagram-inverse{
    // color: #fff;
    // background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    color: #fff;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    border-color: #2795e9;
}

.btn-github-inverse {
    color: #fff;
    background-color: #4d4d4d;
    border-color: #1a1a1a;
}

.btn-site-color{
    color: #fff;
    background-color: $site-main-color; 
}

.signup-title{
    font-size: 2rem;

    @media (min-width: 200px) {
        font-size: 1.7rem;
      }
    
    @media (min-width: 370px) {
        font-size: 2.0rem;
    }
}